﻿@model WebAppCalc.Models.CalcModel
@using PagedList.Mvc

@{
    ViewBag.Title = "Calculation Project";
}


<h2>FizzBuzz Calculator</h2>


@using (Html.BeginForm("Result", "Calc", FormMethod.Get)) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Calculation Model</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Enter a number between 1 to 1000", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Calcvalue, new { htmlAttributes = new { type = "number",@class = "form-control" } })
               
                @Html.ValidationMessageFor(model => model.Calcvalue, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </div>
        @if (Model != null && Model.result != null)
        {
          <div class="row">
              <table class="table table-borderless">
                  @foreach (var item in Model.result)
                  {
                      <tr>
                          <td>
                              @{ 
                                  var result = item.Split(' ');
                                  if (result.Length > 1)
                                  {
                                      foreach (var val in result)
                                      {
                                          <span class="@val">@Html.Raw(@val)</span>
                                      }
                                  }
                                  else
                                  {
                                      <span class="@item">@Html.Raw(@item)</span>
                                  }
                              }
                          </td>
                      </tr>
                  }
              </table>
              <div class="pagination">
                  Page @(Model.result.PageCount < Model.result.PageNumber ? 0 : Model.result.PageNumber) of @Model.result.PageCount

                  @Html.PagedListPager(Model.result, page => Url.Action("Result", new { Calcvalue = Model.Calcvalue, page }))
              </div>
          </div>
        }
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
